  <META http-equiv="refresh" content="10;URL=home.html">
  <h2>Initializing application ... </h2>
  <body>
  <IMG SRC="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif">
  </body>
